<p>
    about works!
</p>
<!--{{ obj.date }}-->

<form [formGroup]="formQuestion" (ngSubmit)="onSubmit()">
    <!--<div formGroupName="name">-->
        <!---->
    <!--</div>-->
    <div>
        <md-input dividerColor="primary" placeholder="todoTest" formControlName="todoTest"
                  style="width: 100%"></md-input>
        <md-input dividerColor="primary" placeholder="name" formControlName="name"
                  style="width: 100%"></md-input>
        <md-input dividerColor="primary" placeholder="dateTodo" formControlName="dateTodo"
                  style="width: 100%"></md-input>
    </div>

    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="material-icons">input</i>
    </button>
</form>
<p>Value: {{ formQuestion.value | json }}</p>
<p>Validation status: {{ formQuestion.status }}</p>


<div>
    <div *ngFor="let item of items">
        <md-card class="demo-card demo-basic">
            <md-toolbar color="primary">{{item.todoTest}}</md-toolbar>
            <md-card-content dividerColor="primary">
                <div>{{item.name}}</div>
                <div>{{item.dateTodo}}</div>
            </md-card-content>
        </md-card>
    </div>
</div>